footer {
    padding-top: 40px;
    ;
    .readMe {
        background-color: $primary-color;
        text-align: center;
        padding: 5px;
        p,
        a {
            color: $light-color;
        }
    }
}