// introduction section
.quizIntro {
    .quizShortDesc {
        background-color: $primary-color;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        h2 {
            color: $light-color;
        }
    }
    .quizLongDesc {
        padding: 20px 10px;
        background-color: $tertiary-color;
        letter-spacing: 0.5rem;
        color: $dark-text;
    }
}

.movieQuiz {
    .movieQuestion {
        background-color: $light-color;
        .optionsRow {
            justify-content: center;
            input[type="image"] {
                border: 8px solid transparent;
                &:hover {
                    border: $hover-color solid 8px;
                }
                &:focus {
                    border: $hover-color solid 8px;
                }
            }
        }
        .questionRow {
            justify-content: center;
            background-color: $accent-color;
            h3 {
                font-weight: bold;
                padding: 10px;
            }
        }
        .submitRow {
            justify-content: center;
            padding-top: 10px;

            //submit and play again buttons
            .btnSubmit {
                background-color: $primary-color;
                color: $light-color;
                font-weight: 900;
                margin: 5px;
                &:disabled {
                    background-color: lightgray;
                }
            }
        }
        .movieOption {
            padding: 10px 5px 10px 5px;
            div {
                border: 8px solid white;
                font-size: 1.6rem;
                padding: 5px;
                
            }
        }
    }
}


.focusAnswer {
    color: white;
    background-color: red;
    text-align: center;

}

.correctAnswer{
    color: white;
    background-color: green;
    text-align: center;

}