// introduction section
.quizIntro {
  .quizShortDesc {
    background-color: $primary-color;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    h2 {
      color: $light-color;
    }
  }
  .quizLongDesc {
    padding: 20px 10px;
    background-color: $tertiary-color;
    letter-spacing: 0.5rem;
    color: $dark-color;
  }
}

.movieQuiz {
  .movieQuestion {
    background-color: $light-color;
    .optionsRow {
      justify-content: center;
      input[type="image"] {
        border: 8px solid transparent;
        &:hover,
        &:focus {
          border: $hover-color solid 8px;
        }
      }
    }
    .questionRow {
      justify-content: center;
      background-color: $accent-color;
      h3 {
        font-weight: bold;
        padding: 10px;
      }
    }
    .submitRow {
      justify-content: center;
      padding-top: 10px;

      //submit and play again buttons
      .btnSubmit {
        background-color: $primary-color;
        color: $light-color;
        font-weight: 900;
        margin: 5px;
        &:disabled {
          background-color: $disabled-color;
        }
      }
    }
    .movieOption {
      padding: 10px 5px 10px 5px;
      div {
        border: 8px solid $light-color;
        font-size: 1.6rem;
        padding: 5px;
      }
    }
  }
}

.focusAnswer,
.correctAnswer {
  color: $light-color;
  background-color: $failure-color;
  text-align: center;
}

.correctAnswer {
  background-color: $success-color;
}
