.readMe {
    padding: 15px;
    h2 {
        padding: 20px 0px;
        margin: 0px;
    }

    img{
        
        padding: 20px;
        max-width: 100%;
        width: 100px;
    }
    p,
    a {
        font-size: 1.8rem;
        font-family: $secondary-font;
    }
    p {
        line-height: 1.8rem;
    }


.flexColumn{
    align-items: flex-start;
}

    .credits {
        font-size: 1.8rem;}
}