//color palette inspiration: https://www.pinterest.ca/pin/266838346656849737/
$primary-color: #6fb5d9;
$secondary-color: #d99ab3;
$tertiary-color: #e2e879;
$accent-color: #ddceeb;
$light-color: #fafafa; //near-white
$dark-color: #191919; //eerie black
$primary-font: 'Days One',
sans-serif;
$secondary-font: 'Kanit',
sans-serif;
h1,
h2,
button {
    font-family: $primary-font;
}

h3,
h4,
h5,
h6,
p,
a,
label,
input {
    font-family: $secondary-font;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 0.2rem;
}

h2 {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
}

h3 {
    font-size: 2rem;
    text-transform: uppercase;
}

//body text
input[type=radio],
p {
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: .01rem;
}

button {
    font-size: 2.5rem;
    text-align: center;
    color: $primary-color;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 4px solid transparent;
    background-color: $light-color;
    &:hover {
        border: 4px solid $accent-color;
        color: $primary-color;
    }
}

a {
    font-size: 1.8rem;
    display: inline-block;
}