a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
html,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
}

input[type=image],
img {
  width: 100%;
  display: block;
  height: auto;
}

.flexRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1,
h2,
button {
  font-family: "Days One", sans-serif;
}

h3,
h4,
h5,
h6,
p,
a,
label,
input {
  font-family: "Kanit", sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
}

h3 {
  font-size: 2rem;
  text-transform: uppercase;
}

input[type=radio],
p {
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: .01rem;
}

button {
  font-size: 2.5rem;
  text-align: center;
  color: #6fb5d9;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 4px solid transparent;
  background-color: #fafafa;
}

button:hover {
  border: 4px solid #ddceeb;
  color: #6fb5d9;
}

button:focus {
  border: 4px solid #ddceeb;
  color: #6fb5d9;
}

button:disabled {
  border: 4px solid #ddceeb;
  color: red;
}

a {
  font-size: 1.8rem;
  display: inline-block;
}

header nav {
  background: #191919;
}

header nav div {
  padding: 10px;
}

header nav div h1 {
  color: #fafafa;
}

footer {
  padding-top: 40px;
}

footer .readMe {
  background-color: #6fb5d9;
  text-align: center;
  padding: 5px;
}

footer .readMe p,
footer .readMe a {
  color: #fafafa;
}

.quizIntro .quizShortDesc {
  background-color: #6fb5d9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.quizIntro .quizShortDesc h2 {
  color: #fafafa;
}

.quizIntro .quizLongDesc {
  padding: 20px;
  background-color: #e2e879;
}

.selected {
  border: 8px solid red;
}

.movieQuiz .movieQuestion {
  background-color: #fafafa;
}

.movieQuiz .movieQuestion .optionsRow {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.movieQuiz .movieQuestion .optionsRow input[type=image] {
  border: 8px solid transparent;
}

.movieQuiz .movieQuestion .optionsRow input[type=image]:hover {
  border: lightgreen solid 8px;
}

.movieQuiz .movieQuestion .optionsRow input[type=image]:focus {
  border: #00c9a7 solid 8px;
}

.movieQuiz .movieQuestion .questionRow {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ddceeb;
}

.movieQuiz .movieQuestion .questionRow a {
  padding: 10px;
}

.movieQuiz .movieQuestion h3 {
  font-weight: bold;
  padding: 20px;
}

.movieQuiz .movieQuestion .submitRow {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
}

.movieQuiz .movieQuestion .submitRow .btnSubmit {
  background-color: #6fb5d9;
  color: #fafafa;
  font-weight: 900;
  margin: 5px;
}

.movieQuiz .movieQuestion .submitRow .btnSubmit:disabled {
  background-color: lightgray;
}

.movieQuiz .movieQuestion .movieOption {
  padding: 20px 0px 0px 20px;
}

.movieQuiz .movieQuestion .movieOption p {
  padding-top: 10px;
  font-size: 1.5rem;
}

.readMe {
  padding: 15px;
}

.readMe h2 {
  padding: 20px 0px;
  margin: 0px;
}

.readMe p,
.readMe a,
.readMe ul li {
  font-size: 1.2rem;
  font-family: "Kanit", sans-serif;
}

.readMe p {
  line-height: 1.2rem;
}
